<template>
  <div>
    <v-overlay :value="overlayLogin">
      <v-card class="py-6 px-8 rounded-lg" max-width="400" elevation="8" light>
        <v-form @submit.prevent="login" @keyup.enter.prevent="login">
          <h2 class="primary--text text-center mb-6">Sign In</h2>
          <v-text-field
            :rules="[rules.required, rules.email]"
            placeholder="Masukkan email anda"
            v-model="loginForm.email"
            autocomplete="off"
            label="Email"
            name="email"
            color="primary"
            dense
            filled
          ></v-text-field>
          <v-text-field
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showPassword = !showPassword"
            :type="showPassword ? 'text' : 'password'"
            :rules="[rules.required]"
            placeholder="Masukkan password anda"
            hint="At least 8 characters"
            v-model="loginForm.password"
            label="Kata sandi"
            name="password"
            color="primary"
            dense
            filled
          ></v-text-field>
          <v-btn
            class="text-capitalize font-weight-bold mb-4"
            color="primary"
            :loading="loading"
            type="submit"
            depressed
            large
            block
          >
            Sign In
          </v-btn>

          <div class="d-flex justify-center align-center fs-14">
            <p class="mb-0 mr-1">Don't have account?</p>
            <v-btn
              class="text-body-2 text-capitalize px-0"
              color="primary"
              @click.prevent="openRegisterOverlay"
              rounded
              plain
              text
            >
              Sign Up
            </v-btn>
          </div>
        </v-form>
      </v-card>

      <v-btn right top color="grey" absolute icon @click="closeLoginOverlay">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-overlay>
  </div>
</template>

<script>
export default {
  props: {
    overlayLogin: {
      type: Boolean,
    },
  },

  data() {
    return {
      loginForm: {
        email: "",
        password: "",
      },
      rules: {
        required: (value) => !!value || "Tidak boleh kosong.",
        email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "E-mail tidak valid.";
        },
      },
      showPassword: false,
      loading: false,
    };
  },

  methods: {
    login: async function () {
      try {
        await this.$auth.loginWith("local", {
          data: this.loginForm,
        });
        this.$axios.setToken(this.$auth.strategy.token.get());
        this.$emit("toggleLoginOverlay");
        this.$store.dispatch('todo/fetchTodo')
      } catch (e) {
        console.log(e.response.data.errors);
      }
    },
    closeLoginOverlay: function () {
      this.$emit("toggleLoginOverlay");
    },
    openRegisterOverlay: function () {
      this.$emit("toggleLoginOverlay");
      this.$emit("toggleRegisterOverlay");
    },
  },
};
</script>

<style></style>
