<template>
  <div>
    <v-overlay :value="overlayRegister">
      <v-card class="py-6 px-8 rounded-lg" max-width="400" elevation="8" light>
        <v-form @submit.prevent="register" @keyup.enter.prevent="register">
          <h2 class="primary--text text-center mb-6">Sign Up</h2>
          <v-text-field
            :rules="[rules.required]"
            v-model="registerForm.name"
            autocomplete="off"
            label="Name"
            name="name"
            color="primary"
            dense
            filled
          ></v-text-field>
          <v-text-field
            :rules="[rules.required, rules.email]"
            v-model="registerForm.email"
            autocomplete="off"
            label="Email"
            name="email"
            color="primary"
            dense
            filled
          ></v-text-field>
          <v-text-field
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showPassword = !showPassword"
            :type="showPassword ? 'text' : 'password'"
            :rules="[rules.required]"
            placeholder="Masukkan password anda"
            hint="At least 8 characters"
            v-model="registerForm.password"
            label="Kata sandi"
            name="password"
            color="primary"
            dense
            filled
          ></v-text-field>
          <v-btn
            class="text-capitalize font-weight-bold mb-4"
            color="primary"
            type="submit"
            depressed
            large
            block
          >
            Sign Up
          </v-btn>

          <div class="d-flex justify-center align-center fs-14">
            <p class="mb-0 mr-1">Already have an account?</p>
            <v-btn
              class="text-body-2 text-capitalize px-0"
              color="primary"
              @click="openLoginOverlay"
              rounded
              plain
              text
            >
              Sign In
            </v-btn>
          </div>
        </v-form>
      </v-card>

      <v-btn right top color="grey" absolute icon @click="closeRegisterOverlay">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-overlay>
  </div>
</template>

<script>
export default {
  props: {
    overlayRegister: {
      type: Boolean,
    },
  },

  data() {
    return {
      registerForm: {
        name: "",
        email: "",
        password: "",
      },
      rules: {
        required: (value) => !!value || "Tidak boleh kosong.",
        email: (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "E-mail tidak valid.";
        },
      },
      showPassword: false,
      loading: false,
    };
  },

  methods: {
    register: async function () {
      await this.$axios.post("/register", this.registerForm).catch((error) => {
        console.log(error.response);
      });
      this.$auth.loginWith("local", { data: this.registerForm }).catch((error) => {
        console.log(error.response);
      });
    },
    closeRegisterOverlay: function () {
      this.$emit("toggleRegisterOverlay");
    },
    openLoginOverlay: function () {
      this.$emit("toggleRegisterOverlay");
      this.$emit("toggleLoginOverlay");
    },
  },
};
</script>

<style></style>
