<template>
  <div>
    <v-app-bar app color="white" elevation="4">
      <v-btn text color="primary"> Todos </v-btn>

      <v-spacer></v-spacer>

      <template v-if="$auth.loggedIn">
        <v-menu
          class="mr-4"
          transition="slide-y-transition"
          nudge-bottom="24"
          offset-y
          bottom
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              fab
              small
              elevation="0"
              v-bind="attrs"
              v-on="on"
            >
              <span class="text-h6 white--text">{{
                $auth.user.name.charAt(0)
              }}</span>
            </v-btn>
          </template>

          <v-card>
            <v-list>
              <v-list-item color="primary">
                <v-list-item-content>
                  <v-list-item-title>{{ $auth.user.name }}</v-list-item-title>
                  <v-list-item-subtitle
                    >Born To Be A Programmer</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
            </v-list>

            <v-card-actions>
              <v-btn
                class="text-capitalize"
                color="red darken-5"
                @click="logout"
                outlined
                block
              >
                Logout
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </template>

      <template v-if="!$auth.loggedIn">
        <v-btn class="mr-2" color="primary" @click="overlayLogin = true" outlined>
          Login
        </v-btn>
        <v-btn color="primary" @click="overlayRegister = true" elevation="0">
          Sign Up
        </v-btn>
      </template>
    </v-app-bar>

    <template v-if="!$auth.loggedIn">
      <OverlayLogin
        :overlayLogin="overlayLogin"
        @toggleLoginOverlay="overlayLogin = !overlayLogin"
        @toggleRegisterOverlay="overlayRegister = !overlayRegister"
      />
      <overlayRegister
        :overlayRegister="overlayRegister"
        @toggleRegisterOverlay="overlayRegister = !overlayRegister"
        @toggleLoginOverlay="overlayLogin = !overlayLogin"
      />
    </template>
  </div>
</template>

<script>
export default {
  data() {
    return {
      overlayLogin: false,
      overlayRegister: false,
    };
  },

  methods: {
    async logout() {
      await this.$auth.logout();
    },
  },
};
</script>

<style></style>
