<template>
  <v-app>
    <AppBar />

    <v-main>
      <v-container class="my-8">
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "DefaultLayout",

  data() {
    return {

    };
  },
};
</script>

<style>
html {
  overflow-y: auto;
}
</style>
