<template>
  <div>
    <v-card class="mx-auto my-4" max-width="500" elevation="0">
      <template v-if="loading">
        <div class="text-center">
          <v-progress-circular
            color="primary"
            indeterminate
          ></v-progress-circular>
        </div>
      </template>
      <v-alert
        :value="alert"
        :type="alertType"
        transition="fade-transition"
        outlined
        text
      >
        <span v-text="alertMessage"></span>
      </v-alert>
    </v-card>

    <v-card class="mx-auto" max-width="500" flat>
      <v-text-field
        v-model="form.activity"
        append-icon="mdi-send"
        label="Activiy"
        placeholder="Create new activity"
        @click:append="createActivity"
        :disabled="!$auth.loggedIn"
        outlined
        :loading="formLoading"
      ></v-text-field>
    </v-card>

    <template v-if="$auth.loggedIn">
      <v-card class="mx-auto" max-width="500">
        <v-list>
          <template v-for="(todo, index) in todos">
            <v-list-item :key="'li' + index">
              <v-list-item-action>
                <v-checkbox
                  :ref="'checkbox_' + todo.id"
                  color="primary"
                  @click="updateTodoStatus"
                  v-model="finishedId"
                  :value="todo.id"
                  hide-details
                ></v-checkbox>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title
                  :ref="'activity_' + todo.id"
                  :class="[
                    todo.status == 'finished'
                      ? 'text-decoration-line-through'
                      : '',
                  ]"
                  v-text="todo.activity"
                ></v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn
                  @click="removeTodo(todo.id)"
                  icon
                >
                  <v-icon color="red lighten-2">mdi-delete</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
            <v-divider
              v-if="index != todos.length - 1"
              :key="'br' + index"
            ></v-divider>
          </template>
        </v-list>
      </v-card>
    </template>
    <template v-else>
      <v-card class="mx-auto" max-width="500">
        <v-alert outlined type="warning" prominent border="left">
          You must login first to access our feature
        </v-alert>
      </v-card>
    </template>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  name: "IndexPage",
  auth: false,

  data() {
    return {
      form: {
        activity: "",
      },
      finishedId: [],
      formLoading: false,
      alert: false,
      alertType: "warning",
      alertMessage: "",
      loading: false,
    };
  },

  computed: {
    ...mapState({
      todos: (state) => state.todo.list,
    }),

    ...mapGetters("todo", ["finishedListId"]),
  },

  async fetch() {
    if (this.$auth.loggedIn) {
      this.$store.dispatch("todo/fetchTodo").then(() => {
        this.finishedId = this.finishedListId;
      });
    }
  },

  methods: {
    createActivity: function () {
      this.formLoading = true;
      this.$store.dispatch("todo/storeTodo", this.form).then(() => {
        this.formLoading = false;
      });
    },
    updateTodoStatus: function (e) {
      let id = e.target.previousElementSibling.value;

      this.loading = true;
      this.$store.dispatch("todo/updateTodoStatus", id).then(() => {
        this.loading = false;
        this.alertMessage = "Update activity status successfully";
        this.alertType = "success";
        this.alert = true;
        setTimeout(() => (this.alert = false), 2000);
      });
    },
    removeTodo: function (id) {
      this.loading = true;
      this.$store.dispatch("todo/destroyTodo", id).then(() => {
        this.loading = false;
        this.alertMessage = "Remove activity successfully";
        this.alertType = "success";
        this.alert = true;
        setTimeout(() => (this.alert = false), 2000);
      });
    },
  },
};
</script>
